body {
    background-image: url(img/carlos-gonzalez-demon-slayer-02_2.jpg);
    margin: 0;

}


article {

    margin-left: -3%;
    margin-right: 6%;
    background-color: white;

}
nav {
    margin-bottom: 1%;
    background-color: white ;
    position: fixed;
    margin-left: -28.8%;
    top: -10px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

nav + article {
    margin-top: 12%;
}

a {
    color: rgb(93, 13, 66);
    text-decoration: none;

}

.kim_1 {
    padding-left: 6%;
    padding-right: 6%;

}
.kim_2 {
    padding-left: 8%;

}

a:hover {
    color: rgb(0, 0, 0);
}


footer {
    margin-left: -3%;
    margin-right: 6%;
    margin-bottom: 1%;
    background-color: white;
}

ul {
    list-style-type: none;

    padding: 0;
    text-align: center;
    
}

li {

    padding-left: 4%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline;
    margin-right: 50px;
    
}

h2 {
    padding-top: 1%;
    padding-left: 2%;
    color: rgb(0, 0, 0);

}




p {
    color: rgb(0, 0, 0);
    padding-left: 2%;
    padding-right: 2%;
    font-size: 16px;
    
}



footer > p {
    padding-right: 2%;
}

.container {
    display: flex;


  }

.container_2 {
    display: flex;
    align-items: center;
    justify-content: center;

  }
.img_2 {
    max-width: 100%;
    flex-basis: 10%;
    width: 50%;
    height: 50%;
    
    
  }
.image_nezuko {

    margin-left: 4%;
    margin-top: 5%;

    
  }
.image_kocho {

    margin-right: -2%;
    margin-left: -1%;
    margin-top: 5%;

    
  }


footer > div > p {
    text-align: center;
}
